/*:: ICOMOON ::*/
@font-face {
	font-family: 'icomoon';
	src:
	  url('../font/icomoon/icomoon.woff2?rrqboi') format('woff2'),
	  url('../font/icomoon/icomoon.woff?rrqboi') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  .icon-facebook:before {
	content: "\e907";
  }
  .icon-chevron-next:before {
	content: "\e90f";
  }
  .icon-linkedin:before {
	content: "\e908";
  }
  .icon-search:before {
	content: "\e903";
  }
  .icon-twitter:before {
	content: "\e906";
  }
  .icon-youtube:before {
	content: "\e92a";
  }
  .icon-close:before {
	content: "\e902";
  }
  .icon-chevron-down:before {
	content: "\e90e";
  }
  .icon-video:before {
	content: "\e900";
  }
  .icon-podcast:before {
	content: "\e901";
  }
  .icon-document:before {
	content: "\e904";
  }
  .icon-arrow-down:before {
	content: "\e905";
  }