/*:: VARIABLES ::*/
/*******************************************************/

/*:: COLORS ::*/
$color-black: #000; // @note: noir
$color-white: #fff; // @note: blanc
$color-red: #FF0000; // @note: rouge
$color-pink: #EF91B8; // @note: rose
$color-fuchsia: #E7476C; // @note: fuchsia
$color-yellow: #F4D300; // @note: yellow
$color-purple: #98327F; // @note: purple
$color-orange: #E85811; // @note: orange
$color-dark-orange: #E2381E; // @note: dark-orange
$color-cyan: #86CFE5; // @note: cyan
$color-blue: #003C8F; // @note: blue
$color-gray: #888888; // @note: gray
$color-light-gray: #D8D8D8; // @note: light gray

/*:: BREAKPOINTS ::*/
$width-small: 480px;
$width-medium: 782px;
$width-large: 960px;
$width-wide: 1440px;
$width-xwide: 1500px;

